-#= form_with(url: admin_client_lessons_path, model: admin_client_lesson, local: true) do |f|
-#= form_with(url: admin_client_lesson_path, model: admin_client_lesson, local: true) do |f|
-#= form_for(url: url_args(test_flg)) do |f|
-# edit_flgが立っているかどうかでform_withのURLを変更している
= form_with(url: url_args(edit_flg), model: admin_client_lesson, local: true) do |f|
  - if admin_client_lesson.errors.any?
    #error_explanation
      %h2
        = pluralize(admin_client_lesson.errors.count, "error")
        prohibited this admin_client_lesson from being saved:
      %ul
        - admin_client_lesson.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :client_id
    = f.text_field :client_id
  .field
    = f.label :admin_id
    = f.text_field :admin_id
  .field
    = f.label :lesson_count
    = f.number_field :lesson_count
  .field
    = f.label :p_start_datetime
    = f.datetime_select :p_start_datetime
  .field
    = f.label :p_end_datetime
    = f.datetime_select :p_end_datetime
  .field
    = f.label :p_comment
    = f.text_area :p_comment
  .field
    = f.label :d_start_datetime
    = f.datetime_select :d_start_datetime
  .field
    = f.label :d_end_datetime
    = f.datetime_select :d_end_datetime
  .field
    = f.label :d_comment
    = f.text_area :d_comment
  .actions
    = f.submit 'Save'
