!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:name => "viewport", :content => "width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"}
    %title MiseWeb_管理者用
    = csrf_meta_tags
    = stylesheet_link_tag    'admin/application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'admin/application', 'data-turbolinks-track': 'reload'
    %link{:crossorigin => "anonymous", :href => "https://use.fontawesome.com/releases/v5.0.13/css/all.css", :integrity => "sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp", :rel => "stylesheet"}/

  %body
    -# フラッシュメッセージをtoastrで出力
    - unless flash.empty?
      %script{ :type => 'text/javascript' }
        - flash.each do |f|
        - type = f[0].to_s.gsub('alert','error').gsub('notice','info')
          toastr['#{type}']('#{f[1]}');

    = render 'layouts/admin/header'
    = render 'layouts/admin/main'
