%header.header-visual
  .columns
    .header-visual-content
      %h2
        あいうえお〜〜〜〜
    .header-visual-bg
      = image_tag("top-image.jpg", alt: "リビング")

.main-contents
  #section.section-features
    .container
      .section-title
        %h2 断捨離レッスン○○○とは？
      .section-comment
        %p
          片付けが苦手、片付けても片付けてもなかなかキレイな状態が保てない
          %br
          一回片付けた部屋をきれいに保つことができるようになる支援するサービスです。

  #voice.section-voice
    .container
      .section-title
        %h2 お客様の声
      .section-comment
        %p
          片付けによって人生が変わったお客様の実際の体験談です。

      .voice-wrap
        .columns.columns-wrap.columns-center

          .voice-box
            .columns
              .voice-img
                = image_tag("furuta_masashi.jpg", alt: "古田　将司さん")
              .voice-comment
                .name
                  古田　将司さん
                %p
                  仰天チェンジ
                %p
                  １２３４５６７８９０１２３４５６７８９０１２３４５６７８９０１２３４５６７８９０１２３４５６７８９０１２３４５６７８９０１２３４５６７８９０１２３４５６７８９０１２３４５６７８９０
                %li
                  =link_to '成功者インタビュー', '#contact', class: 'btn'

          .voice-box
            .columns
              .voice-img
                = image_tag("furuta_masashi.jpg", alt: "古田　将司さん")
              .voice-comment
                .name
                  古田　将司さん
                %p
                  いきなりすごいことになった
                %p
                  １２３４５６７８９０１２３４５６７８９０１２３４５６７８９０１２３４５６７８９０１２３４５６７８９０１２３４５６７８９０１２３４５６７８９０１２３４５６７８９０１２３４５６７８９０
                %li
                  =link_to '成功者インタビュー', '#contact', class: 'btn'

          .voice-box
            .columns
              .voice-img
                = image_tag("furuta_masashi.jpg", alt: "古田　将司さん")
              .voice-comment
                .name
                  古田　将司さん
                %p
                  いきなりすごいことになった
                %p
                  １２３４５６７８９０１２３４５６７８９０１２３４５６７８９０１２３４５６７８９０１２３４５６７８９０１２３４５６７８９０１２３４５６７８９０１２３４５６７８９０１２３４５６７８９０
                %li
                  =link_to '成功者インタビュー', '#contact', class: 'btn'

          .voice-box
            .columns
              .voice-img
                = image_tag("furuta_masashi.jpg", alt: "古田　将司さん")
              .voice-comment
                .name
                  古田　将司さん
                %p
                  いきなりすごいことになった
                %p
                  １２３４５６７８９０１２３４５６７８９０１２３４５６７８９０１２３４５６７８９０１２３４５６７８９０１２３４５６７８９０１２３４５６７８９０１２３４５６７８９０１２３４５６７８９０
                %li
                  =link_to '成功者インタビュー', '#contact', class: 'btn'

//          .voice
//            .columns
//              .voice__img
//                = image_tag("furuta_masashi.jpg", alt: "古田　将司さん")
//              .voice__contents
//                .voice__name
//                  古田　将司さん
//                .voice__comment
//                  %p
//                    いきなりすごいことになった
//                  %p
//                    １２３４５６７８９０１２３４５６７８９０１２３４５６７８９０１２３４５６７８９０１２３４５６７８９０１２３４５６７８９０１２３４５６７８９０１２３４５６７８９０１２３４５６７８９０
//                  %li
//                    =link_to '成功者インタビュー', '#contact', class: 'btn'
