!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    //%meta name=‘viewport’ content=‘width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no’
    %title MiseWeb_管理者用
    = csrf_meta_tags
    = stylesheet_link_tag    'admins/application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body

    = render 'layouts/admins/header'

    = yield

    = render 'layouts/admins/footer'